// Flatly variables
@import "bootswatch-flatly/variables";

// Default color from bootstrap
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: darken(adjust-hue(#f2dede, -10), 5%);
}

body { 
    background-image: url('../images/bg-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.body-id { 
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
 
.body-container {
    -webkit-flex: 1;
    flex: 1;

    // needed to prevent pages with a very small height and browsers not supporting flex
    min-height: 600px;

    #main h1,
    #main h2 {
        margin-top: 0;
    }
}

.navbar-brand {
    padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
    height: 100%;
    padding: 15px; /* firefox bug fix */
    width: auto;
}

th {
    background-color: #2c3e50;
    color: white;
}

.footer > p {
    text-align: center;
}

// Footer
footer {
//    background: $gray-lighter;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

    p {
//        color: $gray-dark;
        text-align: center;
        font-size: $font-size-small;
        margin-bottom: .25em;
    }
}
